{:paths    ["src" "resources"]
 :deps     {org.clojure/clojure       {:mvn/version "1.11.1"}
            org.clojure/tools.logging {:mvn/version "1.2.4"}
            expound/expound           {:mvn/version "0.9.0"}

            ;; ui
            io.github.cljfx/cljfx     {:git/sha "5f3737989ac1f57a5bf28c0070d1db12901a6d77"}

            org.slf4j/slf4j-simple    {:mvn/version "2.0.7"}}
 :aliases  {:dev     {:jvm-opts    ["-Duser.timezone=UTC"
                                    "-XX:-OmitStackTraceInFastThrow"]
                      :extra-paths ["dev"
                                    "test"
                                    "test-resources"]
                      :extra-deps  {io.github.clojure/tools.deps.alpha {:git/sha "5b8909bdb072d66c9f643bae50cd2878a0f694c2"}
                                    lambdaisland/kaocha         {:mvn/version "1.85.1342"}}}

            :test    {:extra-paths ["test"
                                    "test-resources"]
                      :main-opts   ["-m" "kaocha.runner" "--config-file" "kaocha.edn"]}}}
