{:paths ["src" "resources" "target/resources"]
 :deps {org.clojure/clojure                 {:mvn/version "1.11.1"}
        com.biffweb/biff                    {:git/url "https://github.com/jacobobryant/biff"
                                             :tag "v0.7.15", :sha "5061b1ffff5d0cfb634a34d037e89b62b919c13f"}
        camel-snake-kebab/camel-snake-kebab {:mvn/version "0.4.3"}
        codenames-clj/core                  {:local/root "../../"}
        metosin/muuntaja                    {:mvn/version "0.6.8"}
        ring/ring-defaults                  {:mvn/version "0.3.4"}
        org.slf4j/slf4j-simple              {:mvn/version "2.0.0-alpha5"}}
 :aliases {:dev {:extra-paths ["dev"]
                 :extra-deps {org.clj-commons/hickory {:mvn/version "0.7.3"}}}}}
