@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  p {
    @apply mb-3;
  }

  ul {
    @apply list-disc;
  }

  ol {
    @apply list-decimal;
  }

  ul, ol {
    @apply my-3 pl-10;
  }
}

@layer components {
  .btn {
    @apply bg-blue-500 hover:bg-blue-700 text-center py-2 px-4 rounded disabled:opacity-50 text-white;
  }
}

@layer utilities {
  .link {
    @apply text-blue-600 hover:underline;
  }
}

.grecaptcha-badge { visibility: hidden; }

/* .bg-tastefully-pumpkin { color: #DC8665; } */
/* .bg-theom { color: #138086; } */
/* .bg-aquarium-rocks { color: #16949b } */
/* .bg-barney-shet { color: #554869 } */
/* .bg-tired-peach-pink { color: #CD7672 } */
/* .bg-sick-camel { color: #EEB462 } */
/* .bg-cherry-blossom-yoghurt { color: #F5CDC6 } */
/* .bg-burnt-bubblegum { color: #EF9796 } */
/* .bg-peach-eyeshadow { color: #FFC98B } */
/* .bg-peached-out { color: #FFB284 } */
/* .bg-introverted-broccoli { color: #C6C09b } */
/* .bg-coral { color: #FF7F50 } */
/* .bg-sail-far-blue { color: #4fd0ff } */
/* .bg-white { color: #FFFFFF } */
/* .bg-black { color: #000000 } */

/* .card-red-team-primary {color: tired-peach-pink;} */

/* {: */
/*    :card-blue-team-primary (:theom colors) */
/*    :card-assassin-primary (:barney-shet colors) */
/*    :card-civilian-primary (:sick-camel colors) */
/*    :card-red-team-primary-alt (:black colors) */
/*    :card-blue-team-primary-alt (:white colors) */
/*    :card-assassin-primary-alt (:white colors) */
/*    :card-civilian-primary-alt (:black colors)} */
